<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show</title>
</head>
<body>
    <h1>Show me what you got</h1>
    <%= thisMission.name %>
    <br>
    <%= thisMission.launchDate %>
    <br>
    <%= thisMission.operator %>
    <br>
    <%= thisMission.missionType %>
    <br>
    <%= thisMission.img %>

    <a href="http://localhost:3000/missions">Back to missions</a>

</body>
</html>